/******
Ice-UI
Version 0.1.0
Copyright 2023 Icebird
官网: https://iceui.netlify.app/
******/

/******基础css样式******/

/*
raised
阴影
*/
.raised {
    -webkit-box-shadow-: 1px 2px 3px 0.5px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 1px 2px 3px 0.5px rgba(0, 0, 0, 0.5) !important;
}

/*
font
字体
*/
/*思源宋体*/
@font-face {
    font-family: SiYuanSong;
    src: url(../font/SiYuanSong.otf);
}

.sysong {
    font-family: SiYuanSong;
    font-size: 20px;
}

/*
icon
图标
*/
/*Material Design Icon*/
@font-face {
    font-family: mdicon;
    src: url(../icon/MaterialIcons-Regular.woff);
}

.mdicon {
    font-family: mdicon;
    font-size: 25px;
}

/*Bootstrap Icon*/
@font-face {
    font-family: bsicon;
    src: url(../icon/bootstrap-icons.woff);
}

.bsicon {
    font-family: bsicon;
    font-size: 25px;
}

/*
radius
圆角
*/
.r0 {
    border-radius: 0px !important;
}

.r2 {
    border-radius: 2px !important;
}

.r5 {
    border-radius: 5px !important;
}

.r10 {
    border-radius: 10px !important;
}

.r15 {
    border-radius: 15px !important;
}

.r20 {
    border-radius: 20px !important;
}

.r25 {
    border-radius: 25px !important;
}

.r30 {
    border-radius: 30px !important;
}

/*
text-size
文本尺寸
*/
.text40{
    font-size: 40px!important;
}

.text35{
    font-size: 35px!important;
}

.text30{
    font-size: 30px!important;
}

.text25{
    font-size: 25px!important;
}

.text20{
    font-size: 20px!important;
}

.text15{
    font-size: 15px!important;
}

.text10{
    font-size: 10px!important;
}

/******主题颜色******/

/*
backgroundcolor
背景颜色
*/
/*bc-red*/
.bc-red50 {
    background-color: #FFEBEE !important;
}

.bc-red100 {
    background-color: #FFCDD2 !important;
}

.bc-red200 {
    background-color: #EF9A9A !important;
}

.bc-red300 {
    background-color: #E57373 !important;
    color: #FFFFFF;
}

.bc-red400 {
    background-color: #EF5350 !important;
    color: #FFFFFF;
}

.bc-red500 {
    background-color: #F44336 !important;
    color: #FFFFFF;
}

/*bc-orange*/
/*bc-deep-orange*/
/*bc-yellow*/
/*bc-green*/
/*bc-blue*/


/*
textcolor
字体颜色
*/
.black {
    color: black !important;
}

.white {
    color: white !important;
}

/******css动画******/

/*
size
*/
@keyframes swsize {
    0% {
        height: 55px;
        width: 55px;
    }

    100% {
        height: 200px;
        width: 200px;
        border-radius: 45px;
    }
}

.swsize {
    animation-name: swsize;
    animation-duration: 2.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

/******控件******/

/*
iceui-button
按钮
*/

.ibtn {
    border-width: 0px;
    padding: 5px;
    margin: 3px;
    border-radius: 20px;
    border-color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    user-select: none;
    min-height: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.ibtn-no {
    border-width: 0px;
    padding: 5px;
    margin: 3px;
    border-radius: 20px;
    border: none;
    background: none;
    text-align: center;
    user-select: none;
    min-height: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*
iceui-float-action-button
浮动按钮
*/

.ifab {
    border-width: 0px;
    padding: 5px;
    border-radius: 15px;
    border-color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    float: right;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    min-width: 50px;
    min-height: 50px;
    position: fixed;
    user-select: none;
}

.ifab-r {
    border-width: 0px;
    padding: 5px;
    border-radius: 30px;
    border-color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    float: right;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    min-width: 50px;
    min-height: 50px;
    position: fixed;
    user-select: none;
}

.ifab-gr-h {
    border-width: 0px;
    padding: 5px;
    border-radius: 15px;
    border-color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    float: right;
    bottom: 20px;
    right: 20px;
    width: 50px;
    min-width: 20px;
    min-height: 50px;
    position: fixed;
    user-select: none;
    text-align: center;
}

.ifab-gr-w {
    border-width: 0px;
    padding: 5px;
    border-radius: 15px;
    border-color: #000000;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    float: right;
    bottom: 20px;
    right: 20px;
    height: 30px;
    min-width: 20px;
    min-height: 50px;
    position: fixed;
    user-select: none;
    text-align: center;
}

/*
ice-topbar
顶栏
*/
.itbar-box {
    height: 55px;
    width: 100%;
    margin: 3px;
    line-height: 50px;
    background: none;
    border: none;
    position: sticky;
    top:0;
}

.itbar {
    height: 50px;
    width: 95%;
    border-radius: 15px;
    margin: 3px;
    line-height: 50px;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.itbar-l {
    height: 50px;
    max-width: 70%;
    min-width: 150px;
    border-radius: 15px;
    margin: 3px;
    line-height: 50px;
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.itbar-r {
    height: 50px;
    min-width: 50px;
    max-width: 70%;
    border-radius: 15px;
    margin: 3px;
    line-height: 50px;
    float: right;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*
ice-card
卡片
*/
.icard {
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
    min-height: 50px;
    width: 95%;
}